@use "sass:math";
@use "sass:meta";

/**
 * 数值计算
 * @param  $val  值
 * @param  $isM  是否移动端，默认：false
 */
 @function px($val, $isM: false) {
    @if math.is-unitless($val) {
        @if $isM {
            // 移动端
            @return math.div($val, 3.75) * 1vw;
        } @else {
            // pc端
            @return $val * 1px;
        }
    } @else {
        @if $isM {
            // 移动端
            @return math.div($val, 3.75);
        } @else {
            // pc端
            @return $val;
        }
    }
}

/**
 * 流布局
 * @param  $fd  模式(row/row-reverse/column/column-reverse)，默认: row
 * @param  $layout  布局(SS/SC/SbC/SaC/CC)，默认: SS
 *   $layout值 说明：[S: flex-start; C: center; E: flex-end; Sb: space-between; Sa: space-around]
 * 具体效果可参考example的index flex 或者 entry.scss
 */
 @mixin flex($fd: row, $layout: "SS", $fw: nowrap) {
    display: flex;
    flex-direction: $fd;
    @if $layout == "SC" or $layout == "SbC" or $layout == "SaC" or $layout == "CC" {
        align-items: center;
    }
    @if $layout == "SE" or $layout == "SbE" or $layout == "SaE" or $layout == "CE" {
        align-items: flex-end;
    }
    @if $layout == "CC" {
        justify-content: center;
    }
    @if $layout == "SbC" {
        justify-content: space-between;
    }
    @if $layout == "SaC" {
        justify-content: space-around;
    }
    flex-wrap: $fw;
}

/**
 * 文本省略样式
 * @param  $line  文本限制行数，默认: 1
 */
 @mixin ellipsis($line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if $line == 1 {
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

/**
 * 字体样式
 * @param  $fontSize  字体大小，默认: 14
 * @param  $color  字体颜色，默认: $font
 * @param  $fontWeight  字体粗细，默认: 'normal'
 */
 @mixin font($fontSize: 14, $color: #333, $fontWeight: normal) {
    font-size: px($fontSize);
    color: $color;
    line-height: px($fontSize * 1.5);
    font-weight: $fontWeight;
    white-space: pre-line;
    // word-break: break-all;
    word-wrap: break-word;
}

body {
    overflow: hidden;
}

div,h1,p,ul,ol,li {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}
