@import "~@/styles/app.scss";

.container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    padding: px(15) 0;
    overflow-y: hidden;
    .chatBox {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: px(20);
        max-height: 83vh;
        .MuiList-root {
            overflow-y: auto;
        }
    }
    .sendBox {
        @include flex($layout: 'SbC');
        .btnKey {
            height: px(40);
            margin-left: px(8);
            .key {
                color: #333;
            }
        }
    }

    .tips {
        margin-top: px(12);
        @include font(14, #666);
    }
}

