@use "sass:math";
@use "sass:meta";

/**
 * 数值计算
 * @param  $val  值
 * @param  $isM  是否移动端，默认：false
 */
 @function px($val, $isM: false) {
    @if math.is-unitless($val) {
        @if $isM {
            // 移动端
            @return math.div($val, 3.75) * 1vw;
        } @else {
            // pc端
            @return $val * 1px;
        }
    } @else {
        @if $isM {
            // 移动端
            @return math.div($val, 3.75);
        } @else {
            // pc端
            @return $val;
        }
    }
}

/**
 * 流布局
 * @param  $fd  模式(row/row-reverse/column/column-reverse)，默认: row
 * @param  $layout  布局(SS/SC/SbC/SaC/CC)，默认: SS
 *   $layout值 说明：[S: flex-start; C: center; E: flex-end; Sb: space-between; Sa: space-around]
 * 具体效果可参考example的index flex 或者 entry.scss
 */
 @mixin flex($fd: row, $layout: "SS", $fw: nowrap) {
    display: flex;
    flex-direction: $fd;
    @if $layout != "SS" {
        align-items: center;
    }
    @if $layout == "CC" {
        justify-content: center;
    }
    @if $layout == "SbC" {
        justify-content: space-between;
    }
    @if $layout == "SaC" {
        justify-content: space-around;
    }
    flex-wrap: $fw;
}

/**
 * 文本省略样式
 * @param  $line  文本限制行数，默认: 1
 */
 @mixin ellipsis($line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if $line == 1 {
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

/**
 * 字体样式
 * @param  $fontSize  字体大小，默认: 14
 * @param  $color  字体颜色，默认: $font
 * @param  $fontWeight  字体粗细，默认: 'normal'
 */
 @mixin font($fontSize: 14, $color: $font, $fontWeight: normal) {
    font-size: px($fontSize);
    color: $color;
    line-height: px($fontSize * 1.5);
    font-weight: $fontWeight;
    white-space: pre-line;
    // word-break: break-all;
    word-wrap: break-word;
}

div,h1,p,ul,ol,li {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}

.container {
    @include flex(column, 'CC');
    .title {
        @include font(80, #b83f45, 200);
    }

    .content {
        margin: px(25) 0;
        border-radius: px(6);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.1);
        overflow: hidden;
    }

    .iptContainer {
        .ipt {
            width: px(550);
            height: px(65);
        }
        .iptL {
            width: px(30);
            height: 100%;
            margin-right: px(15);
            @include flex($layout: "CC");
            &:hover {
                cursor: pointer;
            }
            &::before {
                color: #949494;
                content: "❯";
                display: inline-block;
                font-size: 22px;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
    .listContainer {
        padding: 0 px(12);
        .liItem {
            @include flex($layout: "SbC");
            @include font(14, #333);
            .liLabel {
                flex: 1;
                padding: px(12) 0;
                &.liActive {
                    color: #949494;
                    text-decoration: line-through;
                }
            }
            .liClose {
                display: none;
                margin-left: px(12);
                @include font(14, #666);
                cursor: pointer;
            }
            &:hover {
                .liClose {
                    display: block;
                }
            }
        }
    }
    .listFooter {
        @include flex($layout: "SbC");
        padding: px(8);
        @include font(14, #666);
        .l {}
        .c {
            @include flex($layout: "SC");
            .btn {
                margin: 0 px(2);
                border: 1px solid white;
                padding: px(2) px(8);
                border-radius: px(2);
                cursor: pointer;
                overflow: hidden;
                &:hover {
                    border-color: #ce4646;
                }
                &.active {
                    border-color: #ce4646;
                }
            }
        }
        .r {
            cursor: pointer;
        }
    }

    .footer {
        @include font(12, #4d4d4d, 200);
        text-align: center;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.line {
    margin: 0;
}
