@import "~@/styles/app.scss";

.chatContainer {
    @include flex();
    padding: px(10) 0;
    .avatar {
        width: px(25);
        height: px(25);
        border-radius: px(15);
        @include flex($layout: "CC");
        flex-shrink: 0;
        margin-right: px(15);
        overflow: hidden;
        &.user {
            background-color: #ff8000;
        }
        &.gpt {
            background-color: #00c78c;
        }
        .userAva {
            width: px(18);
            height: px(18);
            background-color: #ff8000;
            @include font(12, white);
        }
        .gptAva {
            width: px(18);
            height: px(18);
            color: white;
        }
    }
    .chatR {
        .name {
            @include font($fontSize: 16, $fontWeight: bold);
        }
        p {
            @include font($fontSize: 15);
        }
    }
}
