@import "~@/styles/app.scss";

.sendContainer {
    padding: 0 px(12);
    @include flex($layout: "SbE");
    align-self: flex-end;
    width: 100%;
    border: px(1) solid #ccc;
    box-shadow: none !important;
    border-radius: px(23) !important;
    // position: absolute;
    // bottom: px(20);
    // left: 0;
    // right: 0;
    .input {
        flex: 1;
        min-height: px(46);
        // max-height: px(120);
    }
    .btn {
        width: px(30);
        height: px(30);
        border-radius: px(15);
        margin-bottom: px(7.5);
        overflow: hidden;
        background-color: #e9e9e9;
        &.active {
            --tw-bg-opacity: 1;
            background-color: rgba(0, 0, 0, var(--tw-bg-opacity));;
        }
        .iconLoading {
            color: white;
        }
        .icon {
            width: px(18);
            height: px(18);
            color: white;
        }
        .MuiIconButton-label {
            width: px(18);
            height: px(18);
        }
    }
    .MuiIconButton-root.Mui-disabled {
        background-color: #e9e9e9;
    }
}

