@import "~@/styles/app.scss";

.emptyBox {
    @include flex(column, 'CC');
    height: 100%;

    .gptLogo {
        width: px(45);
        height: px(45);
        margin-bottom: px(15);
    }
    p {
        @include font(20, #333, bold);
    }
}
